block mixins
    mixin button-option(name,icon,color,descr)
        li 
            .text-md(
                class="text-#{color}-400"
                href="#"
                )
                i.fas(class="fa-#{icon}")
                span.font-bold(class="text-#{color}-500")= name
                span.text-2xs.italic.opacity-70= descr

    mixin button-group(btn_title)
        button.text-zinc-300.bg-zinc-900.px-3.py-2.jbm.rounded.mt-3(class="hover:bg-zinc-700" type='button' data-bs-toggle='dropdown')
            i.fa-duotone.fa-lightbulb-exclamation-on.mr-3 
            span.text-zinc-200 #{btn_title}
            i.fa-duotone.fa-chevron-down.px-1 


block baseData 
    - var fillTemplateBtn = {\
        title: 'Fill Templates',\
        icon: 'robot-user',\
        color: 'amber',\
        descr: 'Fill the base template skeleton for schedule. PTO requests are never violated.' }

    - var fillFavorableBtn = {\
        title: 'Solve Prioritizing Satisfaction',\
        icon: 'robot-user',\
        color: 'indigo',\
        descr: 'Fills employee-friendly slots first.' }

    - var fillIdealStructuringBtn = {\
        title: 'Solve Prioritizing Ideal Structuring',\
        icon: 'robot-user',\
        color: 'emerald',\
        descr: 'Maximizes over all scheduling optimality.' }
    
    - var option-btns = [fillTemplateBtn, fillFavorableBtn, fillIdealStructuringBtn]


style. 
    ul { 
        background-color: none !important; 
        margin-top: 40px; 
        classList: "dropdown dropdown-menu z-20 absolute overflow-y-visible";
    }

script(type="text/hyperscript").
    behavior ActionButton 
        on click
            add .active to me 
            call showWaitIndicator(event) 
            then send recheck to me then 
            fetch actions/fill-with-favorables/  
            then put result into #swap-panel then wait 1s then 
            log `swapping...` then 
            call window.location.reload() 
            end 
        on recheck 
            repeat while 
                #favorable-finished matches .active
            trigger recheck on #n-empty-check 
            wait 1s
            end


//- Content

+button-group("Optimize this Schedule")

ul.dropdown-menu
    each option in option-btns
        +button-option(option.title, option.icon, option.color, option.descr)
    
