mixin button-link(imgPath, getPath, name)
    .m-2.rounded.text-xs.uppercase.text-center.py-7.brightness-75.transition(
            style="background-image:url('#{imgPath}');background-size:220px;"
            class="h-[70px] cursor-pointer hover:text-sm hover:ring-2 hover:ring-blue-300 hover:brightness-110"
            hx-get=getPath
            hx-target="#swap-panel"
            )= name


.grid.grid-cols-2

    +button-link('/static/img/aquamarine-gold-tile.png', 'set-sch-maxes/', "Set Max Hours")
    +button-link('/static/img/amethyst-tile.png', 'pto-requests/', "Set PTO Requests")
