mixin viewOption(icon, partialPath)

    div.rounded.w-8.h-8.pt-1.center(
        class="hover:bg-white hover:bg-opacity-20 pl-[6px] cursor-pointer"
        hx-get="/sch/schedule-partials/#{schedule.slug}/#{partialPath}/"
        hx-target="#swap-panel"
        hx-trigger="click"
        hx-indicator="#swap-panel-indic"
        _="on click go to #swap-panel end")
            i.fa-duotone.fa-fw(class="#{icon} text-white opacity-80")


#view-chooser

    div.flex.items-center.justify-between.mb-4
        h5.text-xl.font-bold.leading-none.text-gray-100 Views 

    div(_="on click go to #swap-panel end")
        div.flex.flex-row.space-between.gap-10.mb-1
            +viewOption("fa-poll-people"   "empl-grid" )
            +viewOption("fa-grid-dividers" "shift-grid" )
            +viewOption("fa-chart-bullet"  "fte-ratios" )
            +viewOption("fa-ball-pile"     "week-breakdown" )
            +viewOption("fa-planet-moon"   "complex-table" )

    hr.mb-2
