extends base.html



block content 

    form(method="POST")

        each sft in other_shifts
            label(for=sft)= sft 
            
            if sft in covers_for
                input(name=sft type="checkbox" value=sft checked)
            else
                input(name=sft type="checkbox" value=sft)
