extends base.html

block content
    h1.text-indigo-300.font-bold.text-3xl Sorted Shift Preferences
    h3.text-xl= employee 

    p.
        To modify shift preferences, drag and drop the shift name. 
        Slot 1 indicates your most preferred shift.

    form(method="POST")
    
        input(
            type='hidden'
            value='{{ csrf_token }}'
            name='csrfmiddlewaretoken')

        div.flex.flex-row 

            each shift,index in shifts
                - var i = index + 1
                div.rank(
                    _="install Rank" 
                    data-rank=i)
                        span.rank= i
                        div.shift(draggable='true' _="install Shift")
                            span.name= shift.name
                            input(
                                type="hidden" 
                                name="shift" 
                                value=shift.id)

        input(
            type="submit" 
            class='p-2 my-4 border border-yellow-500 rounded transition text-yellow-500 hover:scale-110 hover:bg-yellow-400 hover:text-black cursor-pointer'
            value="Save Changes")

block style
    style.
        .rank {
            text-align: center;
            font-size: 0.8em;
            background-color: var(--timberwolf);
            color: #00000066;
            width: 55px;
            height: 90px;
            border-radius: 5px;
            padding: 5px;
            margin: 0px 5px 0px 5px;
        }
        .shift {
            display: inline-block;
            width: 200px;
            text-align: left;
            font-size: 1.5em;
            font-weight: bold;
            color : var(--indigo);
        }
        .name {
            font-size: 1.5em;
            font-weight: bold;
            color: black;
        }

block pre
    script(type="text/hyperscript").

        -- SHIFT BEHAVIOR ----------

        behavior Shift 
            on touchstart 
                call event.preventDefault()
                end
            on dragstart 
                add .dragging to me
                then add .dragging-from to closest .rank
                end 
            end
            on dragend 
                remove .dragging from .shift
                then remove .dragging-from from .rank
                then trigger removeFade
            end 
    script(type="text/hyperscript").

        -- RANK BEHAVIOR ----------

        behavior Rank 
            on load 
                add .transition-trasform .transition-size to .name in me
                end
            on dragenter 
            or dragover
                halt the event
                then call event.stopImmediatePropagation()
                then add 
                    .opacity-30
                to .name in me
                end
            on dragend 
            or drop 
            or dragleave
                remove 
                    .opacity-30
                from .name in me
                end
            on drop 
                halt the event then 
                set booting to .shift in me 
                then set incoming to first .dragging 
                then put incoming at the end of me 
                put booting at the end of the first .dragging-from
                then trigger removeFade
                end
            end
            
  