extends base.html


block content
    .panel.text.text-center.mt-2
        a.transition(class="hover:scale-105" href=sch.previous.url())
            i.fa-arrow-circle-left.fa-duotone.transition(class="hover:scale-115")
        a.transition(class="hover:scale-105" href=sch.next.url())
            i.fa-arrow-circle-right.fa-duotone.transition(class="hover:scale-115")
        h1.text-3xl.text-zinc-400.font-bold Schedule #{schedule.number} (#{ schedule.year})
        span.text-xs.text-zinc-100.font-light VERSION  
        span#scheduleVersionId #{schedule.version}
        span#versionEllipsis.jbm.mx-2(class="hover:text-amber-500 hover:fa-ping" _="on click js showContextMenu(event)")
                i.fa-duotone.fa-circle-ellipsis
        div.flex.flex-row.align-items
        //- ACTION BUTTON
        // include components/action-btn.pug
        #action-button-indicator.hidden.bg-yellow-300.rounded.h-6.text-black.animate-pulse.jbm Please Wait...
        section#TAB-BAR-MAIN
            include sch2/schedule/partials/sch-tabBar.html

    div.flex.flex-col

    section#LOWER-BODY
        div.flex.flex-col-reverse(class="md:flex-row md:flex-row mb-1 md:mb-3")
        include stats.html
        #swap-panel.container.overflow-x-scroll.overscroll-x-auto.px-1.bg-zinc-900.rounded.shadow(class="md:px-4 md:m-4")
            i#swap-panel-indic.fas.fa-spinner.fa-spin.fa-beat.htmx-indicator

    section#MAIN-BODY 
        div#swap-panel 



block outside

    script(type="text/javascript").
        function showContextMenu(e) {
            console.log('CtxtMenu Called')
            e.preventDefault();
            var contextMenu = document.getElementById("contextMenu");
            contextMenu.style.display = "block";
            contextMenu.style.left = e.pageX + "px";
            contextMenu.style.top = e.pageY + "px";
            //- remove previous event listener if exists
            document.removeEventListener('mousedown', hideContextMenu);
            //- then add event listener to close menus when user clicks outside
            document.addEventListener('mousedown', hideContextMenu);
        }

        function hideContextMenu(ev) {
            var contextMenu = document.getElementById("contextMenu");
            contextMenu.style.display = "none";
        }

        function showWaitIndicator(ev) {
            console.log('SHOWING indicator');
            var indicator = document.getElementById("wait-indicator");
            indicator.classList.remove("hidden");
        }

        function showVersionEllipsis() {
            var versionEllipsis = document.getElementById("versionEllipsis");
            versionEllipsis.style.display = "inline";
        }

        function hideVersionEllipsis() {
            var versionEllipsis = document.getElementById("versionEllipsis");
            versionEllipsis.style.display = "none";
        }

        function showScheduleVersionId() {
            var scheduleVersionId = document.getElementById("scheduleVersionId");
            scheduleVersionId.style.display = "inline";
        }

        function hideScheduleVersionId() {
            var scheduleVersionId = document.getElementById("scheduleVersionId");
            scheduleVersionId.style.display = "none";
        }

        function showSwapPanel() {
            var swapPanel = document.getElementById("swap-panel");
            swapPanel.style.display = "block";
        }

        function hideSwapPanel() {
            var swapPanel = document.getElementById("swap-panel");
            swapPanel.style.display = "none";
        }

        function showSwapPanelIndic() {
            var swapPanelIndic = document.getElementById("swap-panel-indic");
            swapPanelIndic.style.display = "inline";
        }

        function hideSwapPanelIndic() {
            var swapPanelIndic = document.getElementById("swap-panel-indic");
            swapPanelIndic.style.display = "none";
        }

    #contextMenu.rounded.bg-black.text-white.p-3(display="none" class="z-10 absolute bg-opacity-[30%]")
        a(href="build-alt-draft/" class="hover:underline")
            i.fas.fa-hammer.opacity-80  
            span Build Alternate Draft Version
        div
            each alt in alternates
                div
                    a.text-xs.opacity-70(class="hover:opacity-100" href=alt.url) Version #{alt.version} 
                        |
                        if alt.difference > 0
                            span.text-emerald-300 (+#{alt.difference}% more complete)
                        if alt.difference < 0
                            span.text-red-300 ( #{alt} % less complete)
                        if alt.difference == 0
                            span.text-zinc-300 (Same level of completion)

    #wait-indicator.hidden
        .click-through.w-full.h-full.fixed.inset-0.flex.items-center.justify-center.z-50
            .absolute.fa-ping.fa-beat.ring.ring-zinc-400.py-4.rounded.bg-zinc-300.text-800.opacity-90.rounded-lg.shadow-lg.w-[140px]
            .text.text-center.text-black.text-3xl
                i.fas.fa-user-robot.text-zinc-600
            .text.text-black.text-center.text-2xs.jbm.opacity-70.pt-2 PLEASE WAIT
