div.flex.items-center.space-x-4

    div.flex-shrink-0
        div.rounded-full.border-white(
            id="color-cicle-#{name}"
            class="h-7 w-7 pl-[3.5px] pt-[1.5px]")

                i.fa-duotone.text-black(
                    class="#{icon}")

    div.flex-1.min-w-0
        p.text-sm.font-medium.text-zinc-700.truncate #{ title }
        p.text-2xs.font-light.italic.text-gray-400 Goal: #{goal_descr}

    div.inline-flex.items-center.text-base.font-semibold.text-gray-400(
        id="fig-#{name}"
        hx-get="#{ url }"
        hx-trigger="load"
        hx-target="#fig-#{ name }")

script(src={% static 'statFigureColorize.js' %})
