// EMUSR Schedule Page
// schedule.views.Sections.schEmusrPage

h2.text-xl.font-bold.mb-4 EMUSR 

table.table-striped(class="w-3/4 md:w-1/4 m-2")
  tr 
    th.text-center.rounded-tl Employee
    th.text-center.rounded-tr Avg: #{avg}

  each emp in emusr_employees
    tr.cursor-pointer(_="on click fetch emusr-page/#{emp}/ then put result into #employee-emusr-tgt")

      td.text-center #{emp.name}

      td.text-center
        if emp.emusr_ct <= avg 
          span.text-gray-200 #{emp.emusr_ct}
        if emp.emusr_ct > avg 
          span.text-red-400 #{emp.emusr_ct}
    

div#employee-emusr-tgt
  