

extends 'base.html'

mixin score-list(score, ...employees)
    h3.fa-solid.text-3xl(class="{% cycle 'fa-face-vomit' 'fa-face-unamused' 'fa-face-meh' 'fa-face-smile' 'fa-face-smile-hearts' %}")
    ul.score-column.h-80.w-22(
        id= "column-#{score}"
        data-score= score
        _= "install Column"
        )
        each empl in employees
            li.employee.mb-1.rounded.px-3.text-2xs.cursor-pointer.text-indigo-100.uppercase(
                draggable= 'true' 
                data-score= score
                data-employee= empl
                _= "install Employee"
                )
                i.fas.fa-user.pr-2
                span.italic= empl

block style 
    style.
         h1 {size: 36px; font-family:'JetBrains Mono';padding-bottom: 10px;}
         h3 {size: 32px; padding-bottom: 10px; font-family:'JetBrains Mono';}
         .flex-col { display: flex; flex-direction: column; padding-right: 20px; }
         li { list-style-type: none; background-color: #ffffff44; font-size: 10px }
         .score-grid { display: flex; padding: 15px; flex-direction: row; margin-bottom: 20px; border-radius: 10px; border: 1px solid #ffffff44; }

block pre 
    script(type="text/hyperscript").
        behavior Column 
            on drop
                set score to @data-score
                then tell last .employee in me 
                    set your @data-score to score
                end
            end
        behavior Employee
            on dblclick 
                go to url `/sch/employee/${[@data-employee]}/`      

block content

    a.fas.fa-arrow-left.opacity-30(
        class= "hover:opacity-100"
        href= "/sch/v2/shift/#{shift.cls}/#{shift}") Back

    h1 #{shift.name} Shift Preferences

    #response 

    .score-grid
        each preference,employees in scores.items
            .flex-col
                +score-list(preference, ...employees)


    p.text-2xs.italic.jbm.
        USAGE NOTES ::: <br/>
        dblclick -> employee profile

    script(src='/static/shift/prefs.js')
                