// SHIFT TALLY 
// pypath: 

extends ../base.html

block pre 
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://code.highcharts.com/highcharts.js")

block content
    h1 Shift Tallies
    h3 #{emp.name}

    .flex.flex-col(class="md:flex-row md:gap-10")
        div(class="md:h-[500px]")
            table.w-fc
                tr.h-10
                    th.font-bold Scored At
                    th.font-bold Shifts
                    th.font-bold Count
                each tally in tallies
                    tr.h-12
                        td.text-lg #{tally.score}
                        td.text-md #{emp.shift_prefs}
                        td.text-lg #{tally.count}
        div
            div
                img(src="data:image/svg+xml;base64,#{plot}" class="w-4/5")

    script 
        include ../employee/static/kde.js


    